.main {
    background-color: #eeeeee;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 25rem;
    max-width: 25rem;
}

.message {
    text-align: center;
}

.form {
    display: flex;
    border: 2px solid transparent;
    border-radius: 0.6rem;
}

.error {
    border-color: red;
}

.input {
    border: 0;
    background-color: #ddd;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 1rem;
    flex-grow: 1;
}

.input:focus {
    outline: none;
}

.copy {
    border: 0;
    background-color: #ddd;
    color: black;
    width: 3rem;
}

.copy svg {
    width: 1.2rem;
}

.button {
    border: 0;
    background-color: #141e61;
    color: white;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 4rem;
}

.success {
    background-color: #53b8bb;
}

.button svg {
    width: 1.2rem;
}
